<!DOCTYPE html>
<html>
<head>
	<title>Pagina Web | Demo</title>
	
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>